In [5]:
import pandas as pd 
import numpy as np

## 'Python Date Time Module'

In [16]:
import datetime as dt

In [7]:


today = dt.date(2022,7,31)

In [8]:
today.month

7

In [9]:
today.year

2022

In [10]:
today.day

31

In [15]:
type(today)

datetime.date

In [20]:
today = dt.datetime(2022,7,31,12,59,6)
print(today.month)
print(today.year)
print(today.hour)
print(today.minute)
print(today.second)

7
2022
12
59
6

## <b>Timestamp<b>

In [22]:
pd.Timestamp('2022-12-02')

Timestamp('2022-12-02 00:00:00')

In [23]:
print(pd.Timestamp('2022/12/02'))

2022-12-02 00:00:00

In [24]:
print(pd.Timestamp(2022,12,2))

2022-12-02 00:00:00

In [27]:
print(pd.Timestamp('2022,12,02,2:10:20 PM'))

2022-01-01 14:10:20

# <U> DateTimeIndex <U>

In [28]:
dates = ['2022/12/02', '2022/12/03','2022/12/04']

In [29]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2022-12-02', '2022-12-03', '2022-12-04'], dtype='datetime64[ns]', freq=None)

In [30]:
type(dates)

list

In [36]:
dates

['2022/12/02', '2022/12/03', '2022/12/04']

# pd.to_datetime()

In [37]:
pd.to_datetime('2022/12/02')

Timestamp('2022-12-02 00:00:00')

In [38]:
pd.to_datetime(dt.date(2022,12,2))

Timestamp('2022-12-02 00:00:00')

In [41]:

pd.to_datetime(dt.datetime(2022,12,2,12,10,30))

Timestamp('2022-12-02 12:10:30')

In [42]:
dates = ['2022/12/02', '2022/12/03','2022/12/04']

In [43]:
pd.to_datetime(dates)

DatetimeIndex(['2022-12-02', '2022-12-03', '2022-12-04'], dtype='datetime64[ns]', freq=None)

In [44]:
dates = ['December 30th,2019', '2019-12-12', 'this is date', 'Dec 23rd, 2022']

In [45]:
dates

['December 30th,2019', '2019-12-12', 'this is date', 'Dec 23rd, 2022']

In [47]:
pd.to_datetime(dates, errors='coerce')

DatetimeIndex(['2019-12-30', '2019-12-12', 'NaT', '2022-12-23'], dtype='datetime64[ns]', freq=None)

In [50]:
unixtime = [12345678, 52458967, 15896348]

In [51]:
pd.to_datetime(unixtime, unit='s')

DatetimeIndex(['1970-05-23 21:21:18', '1971-08-31 03:56:07',
               '1970-07-03 23:39:08'],
              dtype='datetime64[ns]', freq=None)

# Create range in the form of Date pd.date_range()

In [54]:
times = pd.date_range(start = '22-03-2000', end='31-07-2022', freq='D') # day wise

In [ ]:
times = pd.date_range(start = '22-03-2000', end='31-07-2022', freq='A') # yearly

In [59]:
times = pd.date_range(start = '22-03-2000', end='31-07-2022', freq='W') # weekly

In [66]:
times = pd.date_range(start = '22-03-2000', end='31-07-2022', freq='M') # monthly

In [67]:
times

DatetimeIndex(['2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30',
               '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31',
               '2000-11-30', '2000-12-31',
               ...
               '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31'],
              dtype='datetime64[ns]', length=269, freq='M')

In [64]:
len(times)

269

In [68]:
import  pandas_datareader as data

In [70]:
df = data.DataReader(name = "MSFT",data_source='yahoo', start='2019-01-01', end='2019-12-22')

In [71]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-31,102.400002,100.440002,101.290001,101.570000,33173800.0,97.787148
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,97.353920
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,93.772469
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,98.133736
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,98.258888
...,...,...,...,...,...,...
2019-12-16,155.899994,154.820007,155.110001,155.529999,24144200.0,151.951508
2019-12-17,155.710007,154.449997,155.449997,154.690002,25425600.0,151.130829
2019-12-18,155.479996,154.179993,154.300003,154.369995,24129200.0,150.818176
2019-12-19,155.770004,153.750000,154.000000,155.710007,24958900.0,152.127350
2019-12-20,158.490005,156.289993,157.350006,157.410004,53477500.0,153.788239

In [72]:
df.loc['2019-12-16']

High         1.559000e+02
Low          1.548200e+02
Open         1.551100e+02
Close        1.555300e+02
Volume       2.414420e+07
Adj Close    1.519515e+02
Name: 2019-12-16 00:00:00, dtype: float64

In [76]:
df.iloc[200]

High         1.409900e+02
Low          1.395300e+02
Open         1.407900e+02
Close        1.404100e+02
Volume       2.075160e+07
Adj Close    1.367142e+02
Name: 2019-10-16 00:00:00, dtype: float64

In [77]:
df.loc['2019-12-16':'2019-12-22']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-16,155.899994,154.820007,155.110001,155.529999,24144200.0,151.951508
2019-12-17,155.710007,154.449997,155.449997,154.690002,25425600.0,151.130829
2019-12-18,155.479996,154.179993,154.300003,154.369995,24129200.0,150.818176
2019-12-19,155.770004,153.750000,154.000000,155.710007,24958900.0,152.127350
2019-12-20,158.490005,156.289993,157.350006,157.410004,53477500.0,153.788239

# Timedelta

In [78]:
a= pd.Timestamp('2019-12-12')
b = pd.Timestamp('2019-12-13')

In [80]:
b-a

Timedelta('1 days 00:00:00')