In [ ]:
'''
df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

df.isna()
df.fillna('MISSING') # replace all na values with 'MISSING'
type(np.nana) 

df['age'] = df['age'].astype(float) # do this when we have nan value in our column 
 

'''

In [1]:
#Write your code here
import numpy as np 
import pandas as pd 

heights_A = pd.Series([176.2,158.4,167.6,156.2,161.4], index=['s1','s2','s3','s4','s5'])
weights_A = pd.Series([85.1,90.2,76.8,80.4,78.9], index=['s1','s2','s3','s4','s5'])

df_A = pd.DataFrame({
  'Student_heights':heights_A,
  'Student_weights':weights_A
}
)

In [2]:
df_A

    Student_heights  Student_weights
s1            176.2             85.1
s2            158.4             90.2
s3            167.6             76.8
s4            156.2             80.4
s5            161.4             78.9

In [3]:
df_A.columns

Index(['Student_heights', 'Student_weights'], dtype='object')

In [12]:
df_A.loc['s3'] = np.nan

In [13]:
df_A.loc['s3']

Student_heights   NaN
Student_weights   NaN
Name: s3, dtype: float64

In [16]:
df_A.loc['s5'][1]

78.9

In [4]:
#Write your code here
import numpy as np 
import pandas as pd 

nameid = pd.Series(range(101,111))
name = pd.Series(['person'+ str(i) for i in range(1,11)])
master = pd.DataFrame({
  'nameid':nameid,
  'name':name
})

transaction = pd.DataFrame({
  'nameid':[108,108,108,103],
  'product':['iPhone', 'Nokia', 'Micromax', 'Vivo']
})

mdf = master.merge(transaction,on='nameid', how='inner')

In [5]:
print(mdf)

   nameid     name   product
0     103  person3      Vivo
1     108  person8    iPhone
2     108  person8     Nokia
3     108  person8  Micromax

In [2]:
import numpy as np 
import pandas as pd 


s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)

In [4]:
print(d.shape)

(4, 3)

In [5]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [6]:
df.loc['r4'] = [67, 78]

In [7]:
df

     A   B
r1  34  12
r2  78  67
r3  54  43
r4  67  78

In [10]:
import pandas as pd

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

C:\Users\ansar\AppData\Local\Temp\ipykernel_11788\2725895699.py:4: UserWarning: Parsing '15-09-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [11]:
import pandas as pd

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
print(d)
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

C:\Users\ansar\AppData\Local\Temp\ipykernel_11788\2621533918.py:5: UserWarning: Parsing '15-09-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [12]:
import pandas as pd

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [15]:
df.loc[:'r3']

     A   B
r1  34  12
r2  78  67
r3  54  43

In [16]:
df.loc['r2':'r3']

     A   B
r2  78  67
r3  54  43

In [17]:
import pandas as pd

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
df

   a   b
0  1   2
1  5  10

In [18]:
df.shape

(2, 2)

In [21]:
import pandas as pd

s = pd.Series([9.2, 'hello', 89])

print(type(s))

<class 'pandas.core.series.Series'>

In [22]:
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3 entries, 0 to 2
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [24]:
pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')

PeriodIndex(['2017-09'], dtype='period[M]')

In [25]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [26]:
df.B

r1    12
r2    67
r3    43
Name: B, dtype: int64