In [1]:
import pandas as pd 
import numpy as np

In [2]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\ansar\anaconda3\lib\site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: lxml in c:\users\ansar\anaconda3\lib\site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\ansar\anaconda3\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ansar\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\ansar\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\ansar\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\ansar\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ansar\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ansar\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ansar\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ansar\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas_datareader as data

In [4]:
company = "MSFT"
start = '2021-01-01'
end = '2021-12-01'

In [6]:
df = data.DataReader(name = company, data_source='yahoo', start = start, end = end)

In [7]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,219.604477
2021-01-04,223.000000,214.809998,222.529999,217.690002,37130100.0,214.934372
2021-01-05,218.520004,215.699997,217.259995,217.899994,23823000.0,215.141693
2021-01-06,216.490005,211.940002,212.169998,212.250000,35930700.0,209.563217
2021-01-07,219.339996,213.710007,214.039993,218.289993,27694500.0,215.526764
...,...,...,...,...,...,...
2021-11-24,338.160004,333.910004,336.279999,337.910004,21661300.0,336.429169
2021-11-26,337.929993,328.119995,334.350006,329.679993,24217200.0,328.235199
2021-11-29,339.029999,334.739990,334.940002,336.630005,28563500.0,335.154785
2021-11-30,337.779999,328.989990,335.320007,330.589996,42885600.0,329.141235
2021-12-01,339.279999,329.390015,335.130005,330.079987,33337600.0,328.633453

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 232 entries, 2020-12-31 to 2021-12-01
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       232 non-null    float64
 1   Low        232 non-null    float64
 2   Open       232 non-null    float64
 3   Close      232 non-null    float64
 4   Volume     232 non-null    float64
 5   Adj Close  232 non-null    float64
dtypes: float64(6)
memory usage: 12.7 KB

In [10]:
df.Date

AttributeError: 'DataFrame' object has no attribute 'Date'